/*@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 100;
    src: url('/Font/IRANSansWeb/Woff2/IRANSansXFaNum-Thin.woff2') format('woff2'), url('/Font/IRANSansWeb/Woff/IRANSansXFaNum-Thin.Woff') format('Woff'), url('/Font/IRANSansWeb/ttf/IRANSansXFaNum-Thin.ttf') format('ttf');
}*/

/*@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 200;
    src: url('/Font/IRANSansWeb/Woff2/IRANSansXFaNum-UltraLight.woff2') format('woff2'), url('/Font/IRANSansWeb/Woff/IRANSansXFaNum-UltraLight.Woff') format('Woff'),url('/Font/IRANSansWeb/ttf/IRANSansXFaNum-UltraLight.ttf') format('ttf');
}*/

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 300;
    src: url('/Font/IRANSansWeb/Woff2/IRANSansXFaNum-Light.woff2') format('woff2'), url('/Font/IRANSansWeb/Woff/IRANSansXFaNum-Light.Woff') format('Woff'), url('/Font/IRANSansWeb/ttf/IRANSansXFaNum-Light.ttf') format('ttf'),;
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    src: url('/Font/IRANSansWeb/Woff2/IRANSansXFaNum-Medium.woff2') format('woff2'), url('/Font/IRANSansWeb/Woff/IRANSansXFaNum-Medium.Woff') format('Woff'), url('/Font/IRANSansWeb/ttf/IRANSansXFaNum-Medium.ttf') format('ttf');
}

/*@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 600;
    src: url('/Font/IRANSansWeb/Woff2/IRANSansXFaNum-DemiBold.woff2') format('woff2'), url('/Font/IRANSansWeb/Woff/IRANSansXFaNum-DemiBold.Woff') format('Woff'), url('/Font/IRANSansWeb/ttf/IRANSansXFaNum-DemiBold.ttf') format('ttf');
}*/

/*@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 800;
    src: url('/Font/IRANSansWeb/Woff2/IRANSansXFaNum-ExtraBold.woff2') format('woff2'), url('/Font/IRANSansWeb/Woff/IRANSansXFaNum-ExtraBold.Woff') format('Woff'), url('/Font/IRANSansWeb/ttf/IRANSansXFaNum-ExtraBold.ttf') format('ttf');
}*/

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 900;
    src: url('/Font/IRANSansWeb/Woff2/IRANSansXFaNum-Black.woff2') format('woff2'), url('/Font/IRANSansWeb/Woff/IRANSansXFaNum-Black.Woff') format('Woff'), url('/Font/IRANSansWeb/ttf/IRANSansXFaNum-Black.ttf') format('ttf');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: bold;
    src: url('/Font/IRANSansWeb/Woff2/IRANSansXFaNum-Bold.woff2') format('woff2'), url('/Font/IRANSansWeb/Woff/IRANSansXFaNum-Bold.Woff') format('Woff'), url('/Font/IRANSansWeb/ttf/IRANSansXFaNum-Bold.ttf') format('ttf');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url('/Font/IRANSansWeb/Woff2/IRANSansXFaNum-Regular.woff2') format('woff2'), url('/Font/IRANSansWeb/Woff/IRANSansXFaNum-Regular.Woff') format('Woff'), url('/Font/IRANSansWeb/ttf/IRANSansXFaNum-Regular.ttf') format('ttf');
}